<div class="wrap-inner" style="position: relative;"><div class="prelude-icon icon-620851961 icon-font custom accent-bg" data-icon="#ffffff" data-icon-hover="#ffffff" data-background-hover="#39374d" data-border-hover="#39374d">
    <span class="icon" style="font-size:50px;width:120px;height:120px;border-style:solid;border-radius:30px;line-height:120px; box-shadow: 0px 5px 50px 0px rgba(0,214,100,0.1)"><i class="preico-company"></i></span>
</div> <div class="content-wrap"><h3 class="heading " style="font-size:22px;margin-top:35px;margin-bottom:17px;">
    <span>Alamat</span>
</h3><div class="desc" style=""><p style="text-align: center;">Komplek CBD Polonia, Blok DD No.68-69, Kota Medan, Sumatera Utara 20157</p>
</div></div></div>
